SchoolId: A unique identifier for each school.
SchoolName: The name of the school.
IsActive: A boolean column that indicates whether the school is active (True) or not (False).
City: The city where the school is located.
Location: Likely a composite string or field combining latitude and longitude.
Latitude: The geographic latitude of the school’s location.
Longitude: The geographic longitude of the school’s location.
DistrictName: The name of the district where the school is located.
StateName: The state where the school is located.
Cycle: This could represent a cycle in an academic or data collection process, like "Cycle 1-Batch 1."
CreatedOn: The timestamp indicating when the school record was created.
AcademicYearId: The identifier for the academic year.
Year: The specific year this data applies to, such as 2023.
Project: The name of the project the school data is related to (e.g., "Sarangani").

In [3]:
import pandas as pd
df = pd.read_excel("CuC Sample Data - 2024 06 13.xlsx", sheet_name='schools')
print(df.isnull().sum())

C:\Users\21963\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

SchoolId            0
SchoolName        101
IsActive            0
City              101
GeoLocation         1
Latitude            1
Longitude           1
DistrictName      101
StateName         101
Cycle               0
CreatedOn           0
AcademicYearId      0
Year                0
Project             0
dtype: int64

In [4]:
print("head5：")
print(df.head())

head5：
   SchoolId  SchoolName  IsActive  City     GeoLocation  Latitude  Longitude  \
0        43         NaN      True   NaN  14.600/120.984      14.6    120.984
1        44         NaN      True   NaN  14.600/120.984      14.6    120.984
2        46         NaN      True   NaN  14.600/120.984      14.6    120.984
3        47         NaN      True   NaN  14.600/120.984      14.6    120.984
4        48         NaN      True   NaN  14.600/120.984      14.6    120.984

   DistrictName  StateName            Cycle               CreatedOn  \
0           NaN        NaN  Cycle 1-Batch 1 2022-12-13 21:57:15.303
1           NaN        NaN  Cycle 1-Batch 1 2022-12-13 21:58:43.373
2           NaN        NaN  Cycle 1-Batch 1 2022-12-13 22:01:29.876
3           NaN        NaN  Cycle 1-Batch 1 2022-12-13 22:02:34.816
4           NaN        NaN  Cycle 1-Batch 1 2022-12-13 22:06:40.436

   AcademicYearId  Year    Project
0               6  2023  Sarangani
1               6  2023  Sarangani
2               6  2023  Sarangani
3               6  2023  Sarangani
4               6  2023  Sarangani

In [7]:
df_cleaned = df.dropna(axis=1, how='all')

print("head5 after drop NA colunms：")
print(df_cleaned.head())
print(df_cleaned.isnull().sum())

head5 after drop NA colunms：
   SchoolId  IsActive     GeoLocation  Latitude  Longitude            Cycle  \
0        43      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
1        44      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
2        46      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
3        47      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
4        48      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1

                CreatedOn  AcademicYearId  Year    Project
0 2022-12-13 21:57:15.303               6  2023  Sarangani
1 2022-12-13 21:58:43.373               6  2023  Sarangani
2 2022-12-13 22:01:29.876               6  2023  Sarangani
3 2022-12-13 22:02:34.816               6  2023  Sarangani
4 2022-12-13 22:06:40.436               6  2023  Sarangani
SchoolId          0
IsActive          0
GeoLocation       1
Latitude          1
Longitude         1
Cycle             0
CreatedOn         0
AcademicYearId    0
Year              0
Project           0
dtype: int64

In [10]:
df_cleaned.fillna(df_cleaned.mode().iloc[0], inplace=True)

print("head5 after fill in NA：")
print(df_cleaned.head())
print(df_cleaned.isnull().sum())

head5 after fill in NA：
   SchoolId  IsActive     GeoLocation  Latitude  Longitude            Cycle  \
0        43      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
1        44      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
2        46      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
3        47      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1
4        48      True  14.600/120.984      14.6    120.984  Cycle 1-Batch 1

                CreatedOn  AcademicYearId  Year    Project
0 2022-12-13 21:57:15.303               6  2023  Sarangani
1 2022-12-13 21:58:43.373               6  2023  Sarangani
2 2022-12-13 22:01:29.876               6  2023  Sarangani
3 2022-12-13 22:02:34.816               6  2023  Sarangani
4 2022-12-13 22:06:40.436               6  2023  Sarangani
SchoolId          0
IsActive          0
GeoLocation       0
Latitude          0
Longitude         0
Cycle             0
CreatedOn         0
AcademicYearId    0
Year              0
Project           0
dtype: int64

C:\Users\21963\AppData\Local\Temp\ipykernel_118656\3547468277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.fillna(df_cleaned.mode().iloc[0], inplace=True)

In [11]:
total_schools = df_cleaned['SchoolId'].nunique()
print(f"num of schools: {total_schools}")

num of schools: 101

In [12]:
active_schools = df_cleaned[df_cleaned['IsActive'] == True]['SchoolId'].nunique()
print(f"num of active schools: {active_schools}")

num of active schools: 100

In [14]:
grouped_df = df_cleaned.groupby(['Cycle', 'AcademicYearId', 'Project']).size().reset_index(name='SchoolCount')

print("statistics after group by：")
print(grouped_df)

statistics after group by：
             Cycle  AcademicYearId    Project  SchoolCount
0  Cycle 1-Batch 1               6  Sarangani           50
1  Cycle 1-Batch 2               7  Sarangani           51

In [16]:
df_cleaned['CreatedOn'] = pd.to_datetime(df_cleaned['CreatedOn'], errors='coerce')  # 确保CreatedOn是日期格式
average_creation_date = df_cleaned.groupby(['Cycle', 'AcademicYearId', 'Project'])['CreatedOn'].mean().reset_index(name='AverageCreationDate')

print("average estabish time：")
print(average_creation_date)

average estabish time：
             Cycle  AcademicYearId    Project           AverageCreationDate
0  Cycle 1-Batch 1               6  Sarangani 2022-12-16 19:31:46.816900096
1  Cycle 1-Batch 2               7  Sarangani 2023-03-31 16:37:06.814156800

C:\Users\21963\AppData\Local\Temp\ipykernel_118656\1909113204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['CreatedOn'] = pd.to_datetime(df_cleaned['CreatedOn'], errors='coerce')  # 确保CreatedOn是日期格式